[% page_title = album.title %]
<h1>[% album.title %]</h1>
<p>by <a href="[% album.artist.url_path %]/">[% album.artist.name %]</a> — <a href="[% album.year.url_path %]/">[% album.year.year %]</a></p>

[% IF album.is_winner %]<p><span class="badge">Mercury Prize Winner</span></p>[% END %]

<p class="buy">
[% amazon_button(album) %]
</p>

<p><a href="/album/">← All albums</a></p>
