[% page_title = title %]
<h1>[% title %]</h1>
<p>by <a href="[% artist.url_path %]/">[% artist.name %]</a> — <a href="[% year.url_path %]/">[% year.year %]</a></p>
[% IF is_winner %]<p><span class="badge">Mercury Prize Winner</span></p>[% END %]
<p><a href="/album/">← All albums</a></p>
