[% page_title = "Year " _ year.year %]
<h1>Mercury Prize [% year.year %]</h1>
<ul class="list">
[% FOREACH a IN albums %]
  <li>
    [% IF a.is_winner %]<span class="badge">Winner</span>[% END %]
    <a href="[% a.url_path %]/">[% a.title %]</a>
    by <a href="[% a.artist.url_path %]/">[% a.artist.name %]</a>
  </li>
[% END %]
</ul>
<p><a href="/year/">← All years</a></p>
